plotter MS_PRINT_MGR
button_name My Printer
button_help Print 使用系统打印机进行打印
plot_drawing_format YES default
plot_segmented NO default
plot_roll_media NO default
plot_label NO default
plot_handshake software default
create_separate_files NO default
plot_with_panzoom NO default
rotate_plotting NO default
allow_file_naming YES
plot_name NO
interface_quality 3 default
plot_destination file default
!注释掉，可自动选择
!pen_table_file table.pnl
plot_sheets current default
!注释掉，可自动选择
!paper_size A4  default
paper_outline NO default
plot_clip NO default
plot_area NO default
